{% extends 'base-admin.html.twig' %}

{% block title %}Annonces
{% endblock %}

{% block body %}
	<h3 class="my-3">Toutes les annonces</h3>
	
  <label for="nonValid">Seulement non validées</label><br>
	<label class="switch">
		<input type="checkbox" id="findNonValid" name="nonValid">
		<span class="slider round"></span>
	</label>

	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col" class="align-baseline">Num
					<button class="btn btn-light filter-button" name="filter-created">
						<i class="align-middle" data-feather="filter"></i>
					</button>
					<div class="dropdown-search">
						<label for="fname">Recherche par id:</label><br>
						<input type="text" class="search" name="searchId">
					</div>
				</th>
				<th scope="col" class="align-baseline">Image</th>
				<th scope="col" class="align-baseline">Titre
					<button class="btn btn-light filter-button" name="filter-title">
						<i class="align-middle" data-feather="filter"></i>
					</button>
					<div class="dropdown-search">
						<label for="fname">Recherche par titre:</label><br>
						<input type="text" class="search" name="searchTitre">
					</div>
				</th>
				<th scope="col" class="align-baseline">Date de creation
					<button class="btn btn-light filter-button" name="filter-created">
						<i class="align-middle" data-feather="filter"></i>
					</button>
					<div class="dropdown-search">
						<label for="fname">Recherche par titre:</label><br>
						<input type="text" class="search" name="searchDate">
					</div>
				</th>
				<th scope="col" class="align-baseline"></th>
			</tr>
		</thead>
		<tbody class="result"></tbody>
		
		<tbody class="ann-all">

			{% for ann in annonces %}
				<tr style="{{ann.isValid == false ? 'background : rgba(255, 76, 48, 0.3)'}}">
					<th>{{ann.id}}</th>
					<td class="col-md-2"><img src="{{asset('/img/image/' ~ ann.imageName)}}" alt="{{ann.imageName}}" class='img-fluid'></td>
					<td>{{ann.titre}}</td>
					<td>{{ann.createdAt|date('d-m-Y')}}</td>
					<td>
						<a href="{{path('admin-annonce-detail' , {'id' : ann.id })}}">
							<i class="fa-solid fa-eye"></i>
						</a>
					</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}