{% extends 'base.html.twig' %}

{% block title %}Hello
	{{app.user.prenom}}!
{% endblock %}

{% block body %}
	{# <pre>
									    {{ dump(app.user) }}
									</pre> #}
	<a href="{{path('new')}}" class="btn btn-warning my-3">Créez une annonce</a>
	<div class="accordion" id="accordionExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Mes infos
				</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<h4>{{app.user.prenom}}
						{% if app.user.pseudo %}
							"{{app.user.pseudo}}"
						{% endif %}
						{{app.user.nom}}</h4>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						<i class="fa-solid fa-pen"></i>
					</button>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Modifiez vos données</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									{{ form_start(formUser) }}
									{{ form_row(formUser.nom) }}
									{{ form_row(formUser.prenom) }}
									{{ form_row(formUser.pseudo) }}
									{{ form_row(formUser.email) }}
									<div class="d-flex justify-content-center">
										<button type="submit" class="btn btn-dark">Modifier</button>
									</div>
									{{ form_end(formUser) }}
								</div>
								<div class="d-flex justify-content-center">
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<b>
						<i class="fa-solid fa-phone"></i>
					</b>
					{% if app.user.telephone %}
						{{app.user.telephone}}
						<br>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
							<i class="fa-solid fa-pen"></i>
						</button>
						<!-- Modal -->
						<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Modifiez votre numero telephone</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										{{ form_start(formTelephone) }}
										{{ form_row(formTelephone.telephone) }}
										<div class="d-flex justify-content-center">
											<button type="submit" class="btn btn-dark">Modifier</button>
										</div>
										{{ form_end(formTelephone) }}
									</div>
									<div class="d-flex justify-content-center">
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>


					{% else %}
						<button type="button" class="btn btn-warning mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal2">
							<i class="fa-solid fa-plus"></i>
						</button>
						<!-- Modal -->
						<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Ajoutez numero telephone</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										{{ form_start(formTelephone) }}
										{{ form_row(formTelephone.telephone) }}
										<div class="d-flex justify-content-center">
											<button type="submit" class="btn btn-dark">Ajoutez</button>
										</div>
										{{ form_end(formTelephone) }}
									</div>
									<div class="d-flex justify-content-center">
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
					<hr>
					<b>
						<i class="fa-solid fa-location-dot"></i>
					</b>
					{% if app.user.adresse|length > 0 %}
						{% for adresse in app.user.adresse %}
							{% if adresse.principale %}
								{{adresse}}
								<br>
								<a href="#" class="btn btn-success my-2">
									<i class="fa-solid fa-pen"></i>
								</a>
								<a href="#" class="btn btn-warning">
									<i class="fa-solid fa-plus"></i>
								</a>
							{% endif %}
						{% endfor %}
					{% else %}
						<a href="#" class="btn btn-warning">
							<i class="fa-solid fa-plus"></i>
						</a>
					{% endif %}
					<div class="add-address"></div>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Mes Annonces
				</button>
			</h2>
			<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					{% if app.user.annonces|length > 0 %}
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th scope="col">Num</th>
									<th scope="col">Image</th>
									<th scope="col">Titre</th>
									<th scope="col">Créé le</th>
									<th scope="col">Prix</th>
									<th scope="col">Activée</th>
									<th scope="col"></th>
								</tr>
							</thead>
							{% for ann in app.user.annonces %}
								<tr>
									<th scope="row">{{ann.id}}</th>
									<td class='col-md-2'><img src="{{asset('/img/image/' ~ ann.imageName)}}" alt="{{ann.titre}}" class="img-fluid"></td>
									<td>{{ann.titre}}</td>
									<td>{{ann.createdAt|date('d-m-Y')}}</td>
									<td>{{ann.prix|number_format(2)}}€
									</td>
									<td>
										<label class="switch">
											<input type="checkbox" {{ann.isActive ? 'checked' : ''}} class="checkboxIsActive" value='{{ann.id}}'>
											<span class="slider round"></span>
										</label>
									</td>
									<td>
										<a href="{{ path('profile-annonce-detail', {'id': ann.id}) }}" class="btn btn-success">
											<i class="fa-solid fa-eye"></i>
										</a>
										<a href="{{ path('profile-annonce-edit', {'id': ann.id}) }}" class="btn btn-primary">
											<i class="fa-solid fa-pen"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</table>
					{% else %}
						<h4>Il n'y a pas des annonces</h4>
					{% endif %}

				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Mes Favoris
				</button>
			</h2>
			<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					{% if app.user.favoris|length > 0 %}
						<div class="d-flex flex-wrap">
							{% for fav in app.user.favoris %}
								<div class="col-6 col-md-3 p-1">
									<div class="card">
										<a href="{{path('annonceDetail', {'id': fav.id})}}">
											<img src="{{asset('/img/image/' ~ fav.imageName)}}" class="card-img-top" alt="{{fav.titre}}">
											<div class="card-body">
												<h4 class="text-dark text-center">{{fav.titre|capitalize}}</h4>
											</div>
										</a>
									</div>
								</div>
							{% endfor %}
						</div>
					{% else %}
						<h5>Il n'y a pas des favoris</h5>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingFour">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					Mes Commandes
				</button>
			</h2>
			<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					{% if app.user.commandes|length > 0 %}

						{% else %}
							<h5>Il n'y a pas des commades</h5>
					{% endif %}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
